@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */
* {
  margin: 0;
  padding: 0;
}
.header_area {
  /* background-color: brown; */
}
.header_area .main-menu {
  /* background: url(../img/background/landing.jpg) no-repeat 0% 23%; */
  border: none;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 3em/2px var(--harlowo);
  /* /* font-size: larger; */
  font-weight: 500;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--gradient-color);
  color: white;
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Area */
.site-main {
  /* margin-top: 0 3rem 3rem 3rem; */
  /* background: url(../img/background/landing.jpg) no-repeat 0% 45%; */
}
#aluarin {
  color: white;
  font-size: 4rem;
}
#mini-aluarin {
  color: rgb(153, 55, 124);
  font-size: 2rem;
}

.site-main .my-banner {
  padding: 3rem 0;
  /* height: 80vh; */
  /* background: url(../img/background/landing.jpg) no-repeat 0% 45%; */
}
.site-main .banner-image img {
  height: 100%;
  width: 20rem;
}
.site-main .my-banner .banner-button {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
#cv-button {
  padding: 1rem;
  margin: 0.5rem;
  /* color: linear-gradient(90deg, #d31d10 0%, #4f67ee 100%); */
  color: var(--gradient-color);
  background-color: rgb(225, 246, 255);
}
#cv-button:hover {
  background-color: aliceblue;
  color: blue;
  border-bottom-color: rgb(228, 228, 228);
  text-shadow: black;
}

.site-main .nav-banner {
  background: url(../img/background/education-candlejpg.jpg) no-repeat 100% 70%;
  /* background-color: blue; */
}

.photo-gallery {
  padding: 2rem 0;
  background-color: rgb(44, 44, 44);
}
.col-photos {
  padding: 0 1em;
}
img {
  padding-top: 1em;

  border-radius: 1.2rem;
  /* only this is needed to expand the image using full column */
  width: 100%;

  /* filter: grayscale(0.4) brightness(1); */

  cursor: pointer;
  transition: 0.3s linear;
}
.row .col-photos img:hover {
  /* filter: grayscale(0) brightness(1); */
}

.footer {
  /* background: url(../img/background/connectme-medium.jpg) no-repeat 0% 55%; */

  padding: 5em 0 2em 0;
  background-color: #f3ffff;
  background-color: #010030;

  min-height: 120px;
}

.my-footer-title h5 {
  color: rgb(167, 72, 72);
  font-size: 1.8rem;
}
.my-footer-title h5 #connect {
  color: rgb(100, 66, 66);
}

#copyright {
  color: #756868;
}

.social-icons a i {
  color: rgb(0, 31, 133);
}
.social-icons a i:hover {
  transform: scale(1.7);
  transition: ease-in 0.4s;
}

/* after js effect  */
.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #222222;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 1s ease;
}
