html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* font family variables. */
@font-face {
  font-family: "myViksi";
  src: url("../fonts/Viksi_Script/Viksi_Script.ttf") format("truetype");
}

@font-face {
  font-family: "myPlayFair";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "myBalqis";
  src: url("../fonts/Balqis_FDR_300118/Balqis.ttf") format("truetype");
}

@font-face {
  font-family: "myTitilliumBold";
  src: url("../fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "myTitilliumBoldItalic";
  src: url("../fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "myRoboto";
  src: url("../fonts//Roboto/Roboto-Bold.ttf") format("truetype");
}

.site-main .nav-banner {
  background: url(../img/background/education-candlejpg.jpg) no-repeat 100% 70%;
}

/* NAVIGATION */
.header_area .main-menu {
  border: none;
}

.header_area .main-menu .nav-item .nav-link {
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.7rem;
  color: whitesmoke;
}

.header_area .main-menu .navbar-nav .active a {
  background: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Area */
#aluarin {
  color: white;
  font-size: 4rem;
}

#mini-aluarin {
  color: #99377c;
  font-size: 2rem;
}

.site-main .my-banner {
  padding: 3rem 0;
}

.site-main .my-banner .banner-intro-column {
  padding: 3rem 0;
}

.site-main .banner-image img {
  height: 100%;
  width: 20rem;
}

.photo-gallery {
  padding: 2rem 0;
  background-color: rgb(36, 36, 36);
}

.col-photos {
  padding: 0 1em;
}

img {
  padding-top: 1em;
  border-radius: 1.2rem;
  /* only this is needed to expand the image using full column */
  width: 100%;
  /* filter: grayscale(0.4) brightness(1); */
  cursor: pointer;
  transition: 0.3s linear;
}

.footer {
  /* background: url(../img/background/connectme-medium.jpg) no-repeat 0% 55%; */
  padding: 5em 0 2em 0;
  background-color: #e5e5e5;
  background-color: rgb(32, 32, 32);
  min-height: 120px;
}

.my-footer-title h5 {
  background: linear-gradient(
    to right,
    #db6860,
    #e17288,
    #db82ad,
    #cd94c9,
    #bda7dc,
    #b1a7e2,
    #a3a8e7,
    #92a9eb,
    #7f99ed,
    #6e89ef,
    #5d78ef,
    #4f67ee
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
}

#copyright {
  color: #756868;
}

.social-icons a i {
  color: #6dbafd;

  size: 4rem;
}

.social-icons a i:hover {
  transform: scale(1.7);
  transition: ease-in 0.4s;
}
/* after js effect  */
.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #222222;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  z-index: 999;
  transition: background 1s ease;
  color: white !important;
}
