/* css variables */
html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

/* font family variables. */
@font-face {
  font-family: "myViksi";
  src: url("../fonts/Viksi_Script/Viksi_Script.ttf") format("truetype"); }

@font-face {
  font-family: "myPlayFair";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype"); }

@font-face {
  font-family: "myBalqis";
  src: url("../fonts/Balqis_FDR_300118/Balqis.ttf") format("truetype"); }

@font-face {
  font-family: "myTitilliumBold";
  src: url("../fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "myTitilliumBoldItalic";
  src: url("../fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "myRoboto";
  src: url("../fonts//Roboto/Roboto-Bold.ttf") format("truetype"); }

/* BANNER + NAVIGATION */
.site-main .nav-banner {
  min-height: 100vh;
  background: url(../img/background/landing.jpg) no-repeat 0% 45%; }

/* NAVIGATION */
.header_area .main-menu {
  border: none; }

.header_area .main-menu .nav-item .nav-link {
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.7rem;
  color: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%); }

.header_area .main-menu .navbar-nav .active a {
  background: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; }

.header_area .main-menu .navbar-nav a:hover {
  background: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; }

/* Banner Area */
#aluarin {
  color: white;
  font-size: 4rem; }

#mini-aluarin {
  background: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem; }

.site-main .my-banner {
  padding: 3rem 0; }

.site-main .my-banner .banner-intro-column {
  padding: 3rem 0; }

.site-main .banner-image img {
  height: 100%;
  width: 20rem; }

.site-main .my-banner .banner-button {
  display: flex;
  justify-content: center;
  margin: 2rem; }

#cv-button {
  padding: 1rem;
  margin: 0.5rem;
  color: #1a1969;
  background-color: #e1f6ff;
  font-family: myRoboto;
  border-radius: 2rem; }

#cv-button:hover {
  background: linear-gradient(90deg, #d31d10 50%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  border: 1px transparent solid; }

/* About Area */
.each-skill img:hover {
  transform: scale(1.2);
  -webkit-transition: transform 0.4s ease-in; }

.site-main .my-about {
  background-color: teal;
  padding: 6rem 5rem; }

.site-main .my-about .my-about-title {
  font-size: 2.5rem;
  color: #cde8ff; }

.site-main .my-about .my-about-intro {
  padding: 1rem 0; }

.site-main .my-about .my-about-intro .my-intro {
  color: white; }

.site-main .my-about .my-about-intro .my-intro [class*="para"] {
  padding: 1rem; }

.site-main .my-about .my-about-intro .my-intro .para-hello {
  font-size: 1.5rem;
  color: white; }

#namaste {
  font-size: 1.5rem;
  color: #91ceff; }

#hello {
  font-size: 1.5rem;
  color: #ff3a9c; }

#yaharo {
  font-size: 1.5rem;
  color: #91ceff; }

.site-main .my-about .my-about-intro .my-intro .para-name {
  font-size: 1.2rem;
  color: #ffffff; }

.site-main .my-about .my-about-intro .my-intro .para-career {
  font-family: myTitilliumBold;
  font-size: 1.2rem;
  color: #ffffff; }

.site-main .my-about .my-about-intro .my-intro .para-grew {
  font-family: cursive;
  color: #e2aff7; }

.site-main .my-about .my-about-skills h4 {
  font-family: myRoboto;
  color: #e7128e;
  font-size: 2rem; }

/* projects Area */
.my-projects {
  background-color: #eeeeee;
  padding: 6rem 0; }

.card {
  border: none;
  background-color: #eeeeee; }

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 500ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex; }

.card-front {
  transform: rotateY(0deg);
  background-color: #f7fbff;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 255, 0.4);
  border-radius: 0.4rem; }

.card-front .card-title {
  color: #36ddfa; }

.card-front .card-text {
  color: #4622a8; }

.card-back {
  height: 100%;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 255, 191, 0.3); }

.card-back .card-body {
  background-color: #fafffa; }

.card-back .card-title {
  color: #72ff3a; }

.card-back .card-text {
  color: #05be4c; }

.card-back .card-body a {
  color: #073802;
  /* font-size: 3rem; */ }

.card-flip:hover .card-front {
  overflow: hidden;
  transform: rotateY(-180deg); }

.card-flip:hover .card-back {
  overflow-y: scroll;
  transform: rotateY(0deg); }

.card-flip:hover .card-back::-webkit-scrollbar {
  display: none; }

.my-each-project {
  height: 30vh; }

@media (min-width: 768px) {
  .my-each-project {
    height: 45vh; } }

/* @media (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
} */
.site-main .my-educations {
  background-color: #010030;
  padding: 5rem 3rem; }

.my-educations .my-educations-title {
  font-size: 2.5rem;
  color: whitesmoke; }

#accordion {
  margin: 4rem 0rem; }

.my-educations .card {
  cursor: pointer;
  margin: 2rem 0rem; }

.my-educations .card:nth-child(even) {
  background-color: #272727;
  color: #a1fdee; }

.my-educations .card:nth-child(odd) {
  background-color: #252525;
  color: #6d77ff; }

.footer {
  /* background: url(../img/background/connectme-medium.jpg) no-repeat 0% 55%; */
  padding: 5em 0 2em 0;
  background-color: #f3ffff;
  background-color: #010030;
  min-height: 120px; }

.my-footer-title h5 {
  background: linear-gradient(90deg, #d31d10 0%, 70%, #4f67ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem; }

#copyright {
  color: #756868; }

.social-icons a i {
  color: #001f85; }

.social-icons a i:hover {
  transform: scale(1.7);
  transition: ease-in 0.4s; }

/* after js effect  */
.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  z-index: 999;
  transition: background 1s ease; }
