/* css variables */
@import "./variables";
@import "./global";

/* BANNER + NAVIGATION */
.site-main .nav-banner {
  min-height: 100vh;
  background: url(../img/background/landing.jpg) no-repeat 0% 45%;
}

/* NAVIGATION */
.header_area .main-menu {
  border: none;
}

.header_area .main-menu .nav-item .nav-link {
  // font: normal 500 3em/2px $harlow;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.7rem;
  color: $gradient-color;
}

.header_area .main-menu .navbar-nav .active a {
  background: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Area */
#aluarin {
  color: white;
  font-size: 4rem;
}
#mini-aluarin {
  color: rgb(153, 55, 124);
  font-size: 2rem;
}

.site-main .my-banner {
  padding: 3rem 0;
}
.site-main .my-banner .banner-intro-column {
  padding: 3rem 0;
}
.site-main .banner-image img {
  height: 100%;
  width: 20rem;
}
.site-main .my-banner .banner-button {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
#cv-button {
  padding: 1rem;
  margin: 0.5rem;
  color: #1a1969;
  background-color: rgb(225, 246, 255);
  font-family: myRoboto;
}
#cv-button:hover {
  background-color: rgb(16, 37, 82);
  color: rgb(224, 224, 252);
  text-shadow: rgb(32, 36, 235);
}

/* About Area */
.each-skill img:hover {
  transform: scale(1.2);
  -webkit-transition: transform 0.4s ease-in;
}
.site-main .my-about {
  background-color: teal;
  padding: 8rem 5rem;
}
.site-main .my-about .my-about-title {
  font-size: 2.5rem;
  color: rgb(205, 232, 255);
}
.site-main .my-about .my-about-intro {
  padding: 1rem 0;
}
.site-main .my-about .my-about-intro .my-intro {
  color: white;
}

.site-main .my-about .my-about-intro .my-intro [class*="para"] {
  padding: 1rem;
}

.site-main .my-about .my-about-intro .my-intro .para-hello {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
#namaste {
  font-size: 1.5rem;
  color: rgb(145, 206, 255);
}
#hello {
  font-size: 1.5rem;
  color: rgb(255, 58, 156);
}
#yaharo {
  font-size: 1.5rem;
  color: rgb(145, 206, 255);
}
.site-main .my-about .my-about-intro .my-intro .para-name {
  font-size: 1.2rem;
  color: #ffffff;
}

.site-main .my-about .my-about-intro .my-intro .para-career {
  font-family: myTitilliumBold;
  font-size: 1.2rem;
  color: #ffffff;
}
.site-main .my-about .my-about-intro .my-intro .para-grew {
  font-family: cursive;
  color: #e2aff7;
}

.site-main .my-about .my-about-skills h4 {
  font-family: myRoboto;
  color: #e7128e;
  font-size: 2rem;
}

/* projects Area */
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 500ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
  background-color: rgb(247, 251, 255);
  border: 0.001rem rgba(0, 0, 255, 0.2) solid;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 255, 0.4);
}
.card-front .card-title {
  color: rgb(54, 221, 250);
}
.card-front .card-text {
  color: #4622a8;
}

.card-back {
  height: 100%;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 255, 191, 0.3);
}
.card-back .card-body {
  background-color: rgb(250, 255, 250);
  border: 0.2rem 0.2rem 0.8rem rgba(0, 255, 170, 0.2);
}
.card-back .card-title {
  color: rgb(114, 255, 58);
}
.card-back .card-text {
  color: #05be4c;
}
.card-back .card-body a {
  color: rgb(7, 56, 2);
  /* font-size: 3rem; */
}

.card-flip:hover .card-front {
  overflow: hidden;
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  overflow-y: scroll;
  transform: rotateY(0deg);
}

.card-flip:hover .card-back::-webkit-scrollbar {
  display: none;
}

.my-each-project {
  height: 30vh;
}
@media (min-width: 768px) {
  .my-each-project {
    height: 45vh;
  }
}
/* @media (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
} */

.site-main .my-educations {
  background-color: #010030;
  padding: 5rem 3rem;
}
.my-educations {
  margin: 5rem 0;
  margin-bottom: 0;
}
.my-educations .my-educations-title {
  font-size: 2.5rem;
  color: whitesmoke;
}
#accordion {
  margin: 4rem 0rem;
}
.my-educations .card {
  cursor: pointer;
  margin: 2rem 0rem;
}
.my-educations .card:nth-child(even) {
  background-color: #272727;
  color: rgb(161, 253, 238);
}
.my-educations .card:nth-child(odd) {
  background-color: #252525;
  color: rgb(109, 119, 255);
}

.footer {
  /* background: url(../img/background/connectme-medium.jpg) no-repeat 0% 55%; */

  padding: 5em 0 2em 0;
  background-color: #f3ffff;
  background-color: #010030;

  min-height: 120px;
}

.my-footer-title h5 {
  color: rgb(167, 72, 72);
  font-size: 1.8rem;
}
.my-footer-title h5 #connect {
  color: rgb(100, 66, 66);
}

#copyright {
  color: #756868;
}

.social-icons a i {
  color: rgb(0, 31, 133);
}
.social-icons a i:hover {
  transform: scale(1.7);
  transition: ease-in 0.4s;
}

/* after js effect  */
.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: $box-shadow;
  z-index: 999;
  transition: background 1s ease;
}
