body {
  background-color: #fafafa ;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7); }

@media screen and (max-width: 992px) {
  body {
    font-size: 16px; } 
}
.navbar-toggler{
    color:#003171;
  }
  .navbar {
    padding: 1em;
    background-color:#5703a5 ;
  background-color:#070924;
  }
    .navbar #Navbar-333 .nav-link {
      color: #2ABB9B
    }
    .navbar #Navbar-333 .active {
      color:#f8faf9 !important; 
    }
  
section{
    margin: 3em 0;
    padding: 3em 0; 
    background-color: white;
}
.my-navs{
    margin: 1 0;
    padding: 0;
}
.my-general{
    margin-top: 0;
}
.footer {
    padding: 5em 0 2em 0;
    background-color: #00032b;
    min-height: 120px; }
  
  
  .my-footer-title h5{
    color: #c0431e; 
  }
  
  #copyright{
    color: white;
  }