
.row {
    background-color: rosybrown;
    /* display: flex; (not needed since, bs4 is flex based)
    /* flex-wrap: wrap; */
    /* width: 100%; */

}
.col-photos{
    /* margin: 0; */
    background-color: rgb(169, 228, 174);
    /* flex: 33.33%;  (not needed since, col-sm-4 already does that) */
    /* width: 100%;  */
    padding: 0 4px;
    /* overflow: hidden;  */
    /* https://stackoverflow.com/questions/36834338/why-do-we-use-overflowhidde  */
    /* height: 100%; */
}
img{
    padding-top: 3px;
    width:100%;    /* auto = default */

    /* height: auto;   */
    /* (not needed, height seems to be adjusted by browser as per image height) */

    /* extra effect to images */
    filter: grayscale(0.4) brightness(0.6);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}
.row .col-photos img:hover{
    filter: grayscale(0) brightness(1);
}
