
.row {
    /* background-color: rosybrown; */
}
.col-photos{
    /* background-color: rgb(169, 228, 174); */
    padding: 0 4px;
}
img{
    padding-top: 3px;


        /* only this is needed to expand the image using full column */
    width: 100%;        

    filter: grayscale(0.4) brightness(0.6);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}
.row .col-photos img:hover{
    filter: grayscale(0) brightness(1);
}
