body {
  background-color: #393939;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7); }

@media screen and (max-width: 992px) {
  body {
    font-size: 16px; } }

.navbar {
  padding: 1em;
  background-color: #4e4e4e; }
  .navbar #Navbar-333 .nav-link {
    color: #FF5A09; }
  .navbar #Navbar-333 .active {
    color: #9ec592 !important; }
  .navbar #Navbar-333 .nav-link:hover {
    color: #fff;
    /* border: #ff5a09 2px solid; */ }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.my-profiles {
  margin-top: 5em;
  /* padding: 5em 2em; */ }
  .my-profiles .my-profiles .container {
    padding: 1em 1em;
    background-color: #ff5a09; }

.my-about {
  padding: 5em 0; }
  .my-about .container {
    padding: 1em 1em;
    background-color: #4e4e4e;
    color: white; }

.my-photos {
  padding: 5em 0; }
  .my-photos .container {
    padding: 1em 1em;
    background-color: #ff5a09; }

/* .my-videos{
    padding:5em 0;
}
.my-videos .container{
    padding: 1em 1em;
    background-color: #4e4e4e;
    color:white;
} */
.my-projects {
  padding: 5em 0; }
  .my-projects .container {
    padding: 1em 1em;
    background-color: #ff3a09; }

.card {
  background-color: white; }
  .card .card-body {
    background-color: #4e4e4e; }
    .card .card-body .project-title {
      color: #ff3a09; }
    .card .card-body .project-mini-description {
      color: white; }

.project-clickfordetail a {
  color: #9ec592; }

.my-profile-intro h3 {
  opacity: 1;
  font-weight: 500;
  font-size: 48px; }

.footer {
  padding: 5em 0;
  background-color: #000;
  min-height: 100px; }
