body{
    padding:0;
    margin:0;
    /* background-color: rgb(166, 235, 170); */
}
.row-introduction{
    background-image: url('../images/me-president.jpg');
}
.col-minfile{
    background-color: white;
}
.col-minfile i{
    color: rgb(38, 182, 55);
}
.col-minfile a{
    color: rgb(23, 75, 53);
}
.col-minfile .card{
    border-radius: 0;
    /* box-shadow: 2px 2px 8px #94ebc2; */
    border: none;
}


.col-justme{
    
    z-index: 2;
    opacity:0.3
}



.footer{
    background-color: rgb(32, 30, 30);
    min-height: 30vh;
}

.btn-social-icon{
    background-color: blanchedalmond;
}

