body{
    padding:0;
    margin:0;
    /* background-color: rgb(166, 235, 170); */
}
.col-minfile{
    background-color: white;
}
.row-minfile-photo{
    /* background-color: rosybrown; */
}
.row-minfile-menus{
    /* background-color: seagreen; */
}

.col-justme{
    background-image: url('../images/me-president.jpg');
    opacity:0.3
}

.text-center{ 
    color:red
}

.footer{
    background-color: rgb(32, 30, 30);
    min-height: 30vh;
}

.btn-social-icon{
    background-color: blanchedalmond;
}
